<form name="spid_idp_access" action="{{ action }}" method="GET">
    <a href="#" class="italia-it-button italia-it-button-size-l button-spid" spid-idp-button="#spid-idp-button-small-post" aria-haspopup="true" aria-expanded="false">
        <span class="italia-it-button-icon"><img src="{{ icon_path }}spid-ico-circle-bb.svg" onerror="this.src='{{ icon_path }}spid-ico-circle-bb.png'; this.onerror=null;" alt="" /></span>
        <span class="italia-it-button-text">{{ "Entra con SPID" | trans }}</span>
    </a>
    <div id="spid-idp-button-small-post" class="spid-idp-button spid-idp-button-tip spid-idp-button-relative">
        <ul id="spid-idp-list-small-root-post" class="spid-idp-button-menu" aria-labelledby="spid-idp">


            {% for key, provider in providers  %}

            <li class="spid-idp-button-link">
                <button class="idp-button-idp-logo" name="idpentityid" type="submit" value="{{ provider.path }}"><span class="spid-sr-only">$name</span><img class="spid-idp-button-logo" src="{{ icon_path }}spid-idp-{{ key }}.svg" onerror="this.src='{{ icon_path }}spid-idp-{{ key }}.png'; this.onerror=null;" alt="{{ provider.name }}" /></button>
            </li>
            {% endfor %}

            <li class="spid-idp-support-link">
                <a href="http://www.spid.gov.it">{{ "Maggiori info" | trans }}</a>
            </li>
            <li class="spid-idp-support-link">
                <a href="http://www.spid.gov.it/#registrati">{{ "Non hai SPID?" | trans }}</a>
            </li>
            <li class="spid-idp-support-link">
                <a href="https://www.spid.gov.it/serve-aiuto">{{ "Serve aiuto?" | trans }}</a>
            </li>



        </ul>
    </div>
</form>